<h1 style="color:#096278;text-align:center"> Introductory workshop on SageMath: Matrices, Graphs and Network</h1>
<h2 style="color:#096278;text-align:center">  December 20-21, 2018</h2>
<h2 style="color:#096278;text-align:center">  Session 1: SageMath, an advanced calculator</h2>
<h3 style="color:#096278;text-align:center;"> David Raj Micheal <br>
Manipal Academy of Higher Education, Manipal</h3>

-   **What is SAGEMATH? **
    -   SAGE stands for "Software for Arithmetic Geometry and
        Experimentation"
    -   It is free, open-source math software that supports research and teaching in algebra, geometry, number theory, cryptography, numerical computation, and related areas.
    -   Sage uses the Python Programming language which provides
        procedural, functional and object-oriented
        constructs. 
    -   It also provides a platform for many mathematical software
        (free/commercial) like R, GAP, MAXIMA, SciLab, Singular, Octave,
        Mathematica, MatLab, Maple etc
    - **Mission** : Create avilable free open source alternative to Magma, Maple, Mathematica, and Matlab
    

- **A bit of History?**

    - Sage was mainly developed  by William Stein who use to work for MAGMA.
The 1st version was released in February
2005.
    - In 2007, Sage won first prize in the scientific software division
of `Les Trophées du
Libre`, an international competition for free
software.
    - In 2012, it was one of the projects selected for
the `Les Trophées du Libre`.
- How to use Sage?
    - Download appropriate version of sage from  www.sagemath.org 
    - Sage can be used from command line (console) and also from internet browser.
    - Sage can also be used online by creating user account at sage: www.sagenb.org
    - Sage can be used from bootable CD/Pendrive. Download "Sage Live CD" from http://www.sagemath.org/download-livecd.html burn it on a CD or pendrive.

In [2]:
4+6

10

In [3]:
8+99

107

In [8]:
888 + (789303*345500)/90.0

3.03004740466667e9

In [7]:
888 + 789303 * 325500/90

2854646738

In [9]:
89+ 78 *49

3911

In [29]:
a = 78090
b = 89
a + b #Here I am printing the value a+b

78179

In [12]:
a * b

6950010

In [15]:
a , b = 89, 90
a
b

90

In [25]:
print "The value of b is: ",b,'\n\n', "The value of a is: ", a

The value of b is:  90

The value of a is:  89

In [27]:
show(a)

89

# Keeping titles

<h1> Keeping Titles </h1>

In [37]:
"""

The following are something something

I want to do symbolic computations here...

djfdjf
dfjkd

"""

a = b
print a

89

In [38]:
c = a
print c

89

In [44]:
c = 17
print c
print a

17
89

In [40]:
d = copy(a)
d

89

In [41]:
d = 90
print d

90

In [42]:
print a

89

## List

In [45]:
[45,89,90]

[45, 89, 90]

In [46]:
[78,'David', 3+8*I]

[78, 'David', 8*I + 3]

In [47]:
mylist = [78, 'David', 8+9*I]
mylist

[78, 'David', 9*I + 8]

In [48]:
print mylist

[78, 'David', 9*I + 8]

In [49]:
show(mylist)

[78, 'David', 9*I + 8]

In [50]:
mylist[0]

78

In [51]:
mylist[1]

'David'

In [52]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
range(1,30)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [55]:
show(range(1,30))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [56]:
[1,1.5,..,5]

[1.00000000000000,
 1.50000000000000,
 2.00000000000000,
 2.50000000000000,
 3.00000000000000,
 3.50000000000000,
 4.00000000000000,
 4.50000000000000,
 5.00000000000000]

In [57]:
srange(1,5,0.5)

[1.00000000000000,
 1.50000000000000,
 2.00000000000000,
 2.50000000000000,
 3.00000000000000,
 3.50000000000000,
 4.00000000000000,
 4.50000000000000]

In [58]:
srange(1,5,1)

[1, 2, 3, 4]

In [59]:
range(1,5)

[1, 2, 3, 4]

In [60]:
mylist

[78, 'David', 9*I + 8]

In [61]:
mylist[-1]

9*I + 8

In [62]:
mylist[-2]

'David'

In [63]:
my_numeric_list = [1,5,9,0]
my_numeric_list

[1, 5, 9, 0]

In [65]:
2*my_numeric_list

[1, 5, 9, 0, 1, 5, 9, 0]

In [66]:
mylist + my_numeric_list

[78, 'David', 9*I + 8, 1, 5, 9, 0]

In [68]:
newlist = my_numeric_list + mylist

In [69]:
print newlist

[1, 5, 9, 0, 78, 'David', 9*I + 8]

In [70]:
newlist.append(23)

In [71]:
print newlist

[1, 5, 9, 0, 78, 'David', 9*I + 8, 23]

In [72]:
newlist.insert(0,90)

In [73]:
print newlist

[90, 1, 5, 9, 0, 78, 'David', 9*I + 8, 23]

In [74]:
newlist.insert(6 ,100)

In [75]:
newlist

[90, 1, 5, 9, 0, 78, 100, 'David', 9*I + 8, 23]

In [77]:
sliced_list = newlist[2:7]

In [78]:
print sliced_list

[5, 9, 0, 78, 100]

## Type of variable

In [79]:
a = 90
type(a)

In [80]:
b = 90.0
type(b)

In [81]:
c = 90/1
type(c)

In [83]:
a == b == c

True

In [84]:
 b + 1

91.0000000000000

In [88]:
print c + 1
type(c+1)

91

In [89]:
print a + 1
type(a+1)

91

In [90]:
type('David')